* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: white;
  background: #595959;

  /* Estilos para dar suporte à divisão diagonal (img-background e content-area) */
  overflow: hidden;
  height: 100vh;
  position: relative;
}

/*=========== IMAGEM DE FUNDO E ÁREA DE CONTEÚDO ========*/
.img-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);

  background-image: url('./assets/e-waste.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* Da suporte para o grey-background */
  z-index: -2;
}
.grey-background {
  position: absolute;
  background: rgba(0, 0, 0, 0.486);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/*======= CONTEÚDO NO LADO DA IMAGEM =========*/
.left-content {
  width: 60vw;
}

h1 {
  padding-top: 10rem;
  padding-left: 10rem;
  font-size: 5rem;
}
/*======= CONTEÚDO NO LADO DIREITO =======*/
.right-content {
  position: absolute;
  width: 50vw;
  height: 50vh;
  right: 0;
  bottom: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2rem;
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a:hover {
  color: #b3b3b3;
}

/* .content-wrapper {
  text-align: left;
  padding-inline: 20px;
}

p {
  margin-block: 1rem;
}

h2 {
  margin-top: 2rem;
}

.image-list li {
  position: relative;
}

.phones {
  background-image: url('./assets/broken-phones.webp');
}

.image-list img {
  height: 10rem;
  width: 10rem;
} */
